@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}

body {
   width: 100vw;
   position: relative;
}

form {
   position: absolute;
   top: 5rem;
   right: 5rem;
   border: 1px solid black;
   padding: 1rem;
   border-radius: .5rem;
}

label {
   font-size: .875rem;
   font-weight: 500;
   line-height: .75rem;
}

header {
   border-bottom: 1px solid black;
   padding: 0.75rem 5rem;
   display: flex;
}

header button,
form button {
   min-width: 6rem;
   height: 38px;
}

.upload-button {
   margin-left: auto;
   margin-right: 1rem;
}

form h2 {
   margin-bottom: .5rem;
}

input[type="text"] {
   height: 2rem;
   width: 14rem;
   margin-bottom: 0.75rem;
   font-size: 0.875rem;
   border: 1px solid black;
   padding: 1rem 0.5rem;
   border-radius: 3px;
}

input[type="text"]::placeholder {
   font-size: 0.875rem;
}

input[type="checkbox"] {
   /* margin-top: 2rem; */
}

button[type="submit"] {
   margin-top: .75rem;
}

.container {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
   flex-wrap: wrap;
   gap: 1rem;
   padding: 5rem;
}

.book-container {
   flex-direction: column;
   justify-content: flex-end;
   align-items: flex-start;
   position: relative;
   border: 1px solid black;
   padding: 1rem;
   height: 10rem;
   border-radius: .5rem;
   display: flex;

}

.isRead {
   align-self: flex-end;
   height: 2rem;
   min-width: 4.75rem;
   min-height: initial;
   cursor: pointer;
   position: absolute;
}

.remove-button {
   position: absolute;
   top: 0px;
   right: 0px;
   width: 1.75rem;
   font-size: 1.375rem;
   cursor: pointer;
   background: none;
   border: none;
}